#viewport {
    width: 100%; height: 100%; background: #C7433E; border: 10px solid #ED5D52; margin: 0 auto 0; position: relative;
}

#viewport .stack {
    width: 60%; height: 85%; background: #ED5D52; margin: 2.5% auto 0; position:relative; border-radius: 10px 10px 0 0;
    max-width: 600px;
    min-width: 400px;
    padding: 0;
}

#viewport li {
    z-index: 5;
    width: 100%; height: 100%; 
    list-style: none; background: #fff; 
    border-radius: 5px 5px 0px 0px; position: absolute; 
    top: 0; left: 0; box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2); 
    line-height: 10px; 
    text-align: center; 
    font-size: 100px; 
    border: 10px solid #ECECEC; 
    box-sizing: border-box; cursor: default;
}
#viewport li .image {
    max-width: 100%;
    max-height: 90%;
    display: block;
}
.slow-animate {
    transition: transform 0.4s;
}

.stack li .image{
    height: 100%;
}
#viewport .fullscreen {
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    position: fixed; 
    top: 0; 
    left: 0;
    overflow-y: auto;
}

.column {
    height: 100%;
}

.row-buttons{
    z-index: 1;
    height: 10%;
    width: 60%; 
    margin: auto; 
    max-width: 600px;  
    min-width: 400px; 
    min-height: 86.05px; 
    position: relative;
}
.button-holder {
    width: 100%;
    height: 100%;
    /*display: table;*/
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    border-top: 2px solid;
}

.btn-circle {
  border-radius: 50%; 
  text-align: center;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  font-size: 24px;
  position: relative;
  margin-top: 4%;
}

.col_buttons{ 
    height: 100%;  
}

.background {
    z-index: 1;
    background-color: #d3d3d3;
}
.row-main{
    height: 95%;
}
#border-top {
    z-index: 1;    
    height: 2%;
    background-color: #d3d3d3;
    
}
#border-bot {
    z-index: 1;    
    height: 3%;
    background-color: #d3d3d3;
}

.end {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.end h1 {
    margin-top: 60%;
    color: #C7433E;
}
body {
    overflow: hidden;
}

